build/
devel/
install/
log/
__pycache__/
dqn_ws/
logs/
.vscode/
src/field_tests/*
!src/field_tests/rosbags/
!src/field_tests/rosbags/**
src/field_tests/rosbags/**/*
!src/field_tests/rosbags/.gitkeep
!src/field_tests/rosbags/README.md
src/ros2_ws/src/mission_planner/mission_planner/moloplanner/assets
src/ros2_ws/src/molo_wpt_follower/mpc/experiments/results/
src/ros2_ws/src/molo_wpt_follower/h0_boat/results/*
src/ros2_ws/src/molo_wpt_follower/ilos_boat/results/*