<?xml version ="1.0"?>
<launch>
    <arg name="sim" default="false"/>

    <group if="$(arg sim)">
        <!-- Launch simulation nodes -->
        <include file="$(find vrx_gazebo)/launch/vrx.launch">
            <arg name="verbose" value="false" />
            <arg name="gui" value="true" />
        </include>

    </group>
    
    <group unless="$(arg sim)">
        <include file ="$(find ublox_gps)/launch/ublox_device.launch">
            <arg name="param_file_name" value="zed_f9p" />
            <arg name="node_name" value="ublox_gps" />
            <arg name="output" value="log" />
        </include>
        <!-- <node name="compass"                pkg="frontseat"         type="ImuNode.py" output="screen"/> -->
        <node name="joy_controller"         pkg="frontseat"         type="JoystickHandlerNode.py" output="screen"/>
        <node name="motor_controller"       pkg="frontseat"         type="MotorControllerNode.py" output="screen"/>
        <node name="thrust_source_selector" pkg="frontseat"         type="ThrustSourceSelectorNode.py" output="screen"/>
    </group>

</launch>