<launch>
    <!-- Vehicle-specific parameters to load -->
    <!-- Options are: mini_bream, bream, ground_vehicle -->
    <arg name="vehicle" default="vrx"/>
    <rosparam file="$(find backseat)/src/params/$(arg vehicle).yaml"/>

    <!-- API: to send goal from topic. FILE to load mission from csv file -->
    <arg name="client_type" default="API"/>

    <group if="$(eval arg('client_type') == 'FILE')">
        <!-- The name of the mission (this should be the directory's name where the mission.csv file is saved -->
        <arg name="mission_name" default="default"/>
        <param name="mission" value="$(find mission_planner)/missions/$(arg mission_name)/mission.csv" />
    </group>
    
    <node name="action_client" pkg="mission_planner" type="nav_goal_to_waypoint.py" output="screen"/>
</launch>
