<launch>
    <!-- The name of the mission (this should be the directory's name where the mission.csv file is saved -->
    <arg name="name" default="default"/>
    
    <!-- Vehicle-specific parameters to load -->
    <!-- Options are: mini_bream, bream, ground_vehicle -->
    <arg name="vehicle" default="vrx"/>

    <param name="mission" value="$(find mission_planner)/missions/$(arg name)/mission.csv" />
    <rosparam file="$(find backseat)/src/params/$(arg vehicle).yaml"/>
    
    <node name="action_client" pkg="mission_planner" type="nav_goal_to_waypoint.py" output="screen"/>
</launch>
