<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="blueboat">
  <xacro:arg name="namespace" default="blueboat"/>
  <xacro:property name="namespace" value="$(arg namespace)" scope="global"/>

  <!-- Geometry and inertial from ArduPilot SITL blueboat model (https://github.com/ArduPilot/SITL_Models/tree/master/Gazebo/models/blueboat). -->
  <link name="${namespace}/base_link">
    <inertial>
      <origin xyz="-0.05 0 -0.15" rpy="0 0 0"/>
      <mass value="30.0"/>
      <inertia ixx="2.42369" ixy="0" ixz="0" iyy="3.9235025" iyz="0" izz="5.6403125"/>
    </inertial>

    <collision name="hull_collision">
      <geometry>
        <mesh filename="package://blueboat_sim/meshes/blueboat/blueboat_hull_collision.dae"/>
      </geometry>
    </collision>

    <visual name="hull_visual">
      <geometry>
        <mesh filename="package://blueboat_sim/meshes/blueboat/blueboat_hull.dae"/>
      </geometry>
      <material name="hull_blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <visual name="aerial_visual">
      <geometry>
        <mesh filename="package://blueboat_sim/meshes/blueboat/blueboat_aerial.dae"/>
      </geometry>
      <material name="aerial_dark">
        <color rgba="0.01 0.01 0.01 1.0"/>
      </material>
    </visual>
    <visual name="crosstube_visual">
      <geometry>
        <mesh filename="package://blueboat_sim/meshes/blueboat/blueboat_crosstube.dae"/>
      </geometry>
      <material name="tube_grey">
        <color rgba="0.01 0.01 0.01 1.0"/>
      </material>
    </visual>
    <visual name="frame_fore_visual">
      <geometry>
        <mesh filename="package://blueboat_sim/meshes/blueboat/blueboat_frame_asm_fore.dae"/>
      </geometry>
      <material name="frame_grey">
        <color rgba="0.01 0.01 0.01 1.0"/>
      </material>
    </visual>
    <visual name="frame_aft_visual">
      <geometry>
        <mesh filename="package://blueboat_sim/meshes/blueboat/blueboat_frame_asm_aft.dae"/>
      </geometry>
      <material name="frame_grey2">
        <color rgba="0.01 0.01 0.01 1.0"/>
      </material>
    </visual>
    <visual name="hatch_port_visual">
      <geometry>
        <mesh filename="package://blueboat_sim/meshes/blueboat/blueboat_hatch_asm_port.dae"/>
      </geometry>
      <material name="hatch_dark">
        <color rgba="0.01 0.01 0.01 1.0"/>
      </material>
    </visual>
    <visual name="hatch_stbd_visual">
      <geometry>
        <mesh filename="package://blueboat_sim/meshes/blueboat/blueboat_hatch_asm_stbd.dae"/>
      </geometry>
      <material name="hatch_dark2">
        <color rgba="0.01 0.01 0.01 1.0"/>
      </material>
    </visual>
    <visual name="motor_port_visual">
      <geometry>
        <mesh filename="package://blueboat_sim/meshes/blueboat/blueboat_motor_port.dae"/>
      </geometry>
      <material name="motor_dark">
        <color rgba="0.01 0.01 0.01 1.0"/>
      </material>
    </visual>
    <visual name="motor_stbd_visual">
      <geometry>
        <mesh filename="package://blueboat_sim/meshes/blueboat/blueboat_motor_stbd.dae"/>
      </geometry>
      <material name="motor_dark2">
        <color rgba="0.01 0.01 0.01 1.0"/>
      </material>
    </visual>
  </link>
</robot>
